html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: Arial;
}

#legales {
  margin-top: 20vh;
  font-size: 20px;
}
.nav-items i {
  font-size: 20px;
}

.nav-right ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
}
.nav-right img {
  width: 25px;
  height: 30px;
}
.nav-right {
  margin-top: -10px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100vw;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  background: #d9d8cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header img {

  width: auto;
  height: 70px;
}
header h1 {
  padding-top: 20px;
  text-align: center;
  color: #806e65;
  margin: 0;
  width: 100%;
  text-transform: uppercase;
}
header h4 {
  text-align: center;
  text-transform: uppercase;
  color: #806e65;
  display: block;
}
.header-right {
  /*	margin-top: 40px;*/
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
/*.header-right div ul{

	justify-content: space-around;
	color: black;
	display: flex;
	list-style: none;
}*/
.nav-items {
  margin-top: 20px;
}
.nav-items ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: black;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.nav-items li {
  text-align: right;

}

.header-right li a {
  margin: auto 5px;
  font-size: 14px;
  color: #806e65;
  text-decoration: none;
}
.header-right li a:hover {
  text-decoration: underline;
}
.header-center {

 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-center h1 {
  font-size: 24px;
}
.header-center h4 {
  font-size: 12px;
}
.header-left {

}

/*footer*/

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #806e65;
  color: #f3f3f0;
  padding-bottom: 0;
}

footer a {
  font-size: 14px;
  color: #f3f3f0;
  text-decoration: none;
}
footer a:visited {
  color: #f3f3f0;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer ul li {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: 15px;
  margin-right: 15px;
}
footer ul li:nth-of-type(1) {
  list-style: none;
}
